body {
    background-color: rgb(186, 224, 241);
}

.button:hover {
    background: lightsteelblue;
    border-color: teal;
    color: darkblue;
    transform: scale(1.3);
    cursor: crosshair;
}

.button {
    margin-top: 15px;
    padding: 1% 2%;
    width: 17%;
    text-align: center;
    font-size: 1.8vw;
    font-weight: bold;
    background: dodgerblue;
    color: white;

    border-radius: 12px;
    border-color: cornflowerblue;
    border-width: 6px;
    transition-duration: 150ms;
}

.score {
    text-align: center;
    font-size: 25px;
    margin-top: 0;
    transition-duration: 150ms;
    transition-delay: 250ms;
}

.score.pick {
    transition-duration: 150ms;
    transition-delay: 50ms;
}

.message {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    transition-duration: 200ms;
    transition-delay: 100ms;
}

.scoreboard.header {
    border: 2px solid cornflowerblue;
    width: fit-content;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 0 auto;
    font-size: 16px;
}

.scoreboard.sec-header {
    text-align: center;
    font-size: 18px;
    margin-top: 18px;
}

.scoreboard.content{
    border: 4px solid cornflowerblue;
    border-radius: 8px;
    padding: 5px 10px;
    min-width: 20%;
}

.update-score {
    transform: scale(2);
    color: goldenrod;
    font-weight: bold;
}

.update-message {
    transform: scale(1.5);
    color: goldenrod;
}

.update-pick {
    transform: scale(1.1);
    font-weight: bold;
}

.end {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 28px;   
}